@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; background-color: #111111;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
    font-family: "Lato", Calibri, Arial, sans-serif;
    background-color: #DEE1F1;
    font-weight: 700;
    font-size: 15px;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}